{
  "extends": ["prettier", "plugin:prettier/recommended"],

  "rules": {
    "quotes": ["error", "single"]
  },

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "chrome": false
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
